@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.menu-container {
  display: flex;
  flex-direction: row;
}

/* navgation */

.nav-container {
  padding-top: 35px;
  padding-left: 62px;
  text-decoration: none;
}

.nav-button {
  background-color: #474747;
  color: #fff;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: none;
}

.nav-button-icons {
  width: 45px;
  height: 45px;
}

.projects-link {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
}

.projects-link:hover {
  color: rgb(161, 161, 161);
  transition: 0.3s;
}

.contact-link {
  background-color: #474747;
  margin-left: 43px;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.contact-link:hover {
  color: rgb(161, 161, 161);
  transition: 0.3s;
}

/* logo */

.logo-container {
  margin-right: auto;
  margin-left: auto;
}

.logo-img {
  margin-top: -30px;
  width: 180px;
  height: 180px;
}

.logo-img-reduced {
  margin-top: 22px;
  margin-left: 45%;
  width: 90px;
  height: 90px;
  display: none;
}

/* social */

.social-container {
  padding-top: 35px;
  padding-right: 62px;
  height: 45px;
}

.social-buttons {
  margin-left: 53px;
  background-color: #474747;
  border: none;
  color: #fff;
  width: 45px;
  height: 45px;
}

.social-buttons:hover {
  transition: 0.3s;
  color: rgb(161, 161, 161);
}

.social-icons {
  width: 45px;
  height: 45px;
}

/* side menu */

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #240b53;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 60%;
  height: 100%;
}

.side-menu-link {
  margin: 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.side-menu-button {
  background-color: #240b53;
  border: none;
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.side-menu-link:hover {
  color: rgb(126, 126, 126);
  transition: 0.3s;
}

.side-menu-button:hover {
  color: rgb(126, 126, 126);
  transition: 0.3s;
}

.close-button-menu {
  background-color: #240b53;
  border: none;
  margin-left: 90%;
  margin-top: 8px;
}

.close-icon-menu {
  color: #fff;
  width: 23px;
  height: 23px;
}

.close-icon-menu:hover {
  color: rgb(126, 126, 126);
  transition: 0.3s;
}

/* responsive */

@media (max-width: 980px) {
  .projects-link {
    display: none;
  }
  .contact-button {
    display: none;
  }
  .nav-button {
    display: initial;
  }
}

@media (max-width: 770px) {
  .logo-img {
    display: none;
  }

  .logo-img-reduced {
    display: initial;
  }
}

@media (max-width: 630px) {
  .logo-img-reduced {
    display: none;
  }
}

@media (max-width: 490px) {
  .social-container {
    display: none;
  }

  .logo-img {
    margin-top: -17px;
    display: initial;
    width: 150px;
    height: 150px;
  }

  .nav-container {
    padding-left: 30px;
  }

  .close-button-menu {
    margin-left: 80%;
  }
}
