.sorry-div {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-family: "Roboto", sans-serif;
}

.sorry {
  align-self: center;
  color: #fff;
}

.sorry-link {
  color: #fff;
}

.sorry-link:hover {
  color: rgb(107, 107, 107);
}
