@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu_ {
  display: flex;
  margin-right: 86%;
}

#projects-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-left: 15px;
}

.img_ {
  width: 200px;
  height: 200px;
}

._content {
  cursor: pointer;
  padding: 10px;
  margin-left: 50px;
  color: #fff;
  background-color: #474747;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 650px;
}

._content:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.pTitle {
  font-size: 55px;
  font-weight: 700;
}

.description {
  font-size: 25px;
  font-weight: 700;
  margin-top: -30px;
}

.link-txt {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 40px;
}

.link-txt:hover {
  transition: 0.3s;
  color: rgb(163, 163, 163);
}

.link-together {
  text-decoration: none;
}

.link-div {
  margin-top: 30px;
  margin-bottom: 100px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  background-color: #3d3d3d;
  margin: 20px;
  color: #fff;
  cursor: pointer;
}

.products:hover {
  transition: 0.3s;
  background-color: #292929;
}

.productsTitle {
  margin-bottom: 0px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.productsTxt {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1150px) {
  ._content {
    width: 500px;
  }

  #menu_ {
    margin: 0;
    justify-content: space-between;
  }
}

@media (max-width: 950px) {
  .img_ {
    margin-top: 45px;
    width: 130px;
    height: 130px;
  }

  .link-txt {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .pTitle {
    font-size: 40px;
  }

  .description {
    font-size: 20px;
  }

  .product {
    margin-left: 55px;
  }
}

@media (max-width: 750px) {
  .product {
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
  }

  .img_ {
    margin-left: 50px;
    margin-bottom: 20px;
  }

  .link-txt {
    font-size: 20px;
  }
}

@media (max-width: 520px) {
  .link-txt {
    font-size: 15px;
  }

  .description {
    font-size: 15px;
  }

  .pTitle {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .img_ {
    width: 100px;
    height: 100px;
  }

  ._content {
    width: 350px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  ._content {
    width: 250px;
  }

  .link-txt {
    font-size: 10px;
  }
}
